# Порт сервера
PORT=8080

# CORS настройки
ALLOW_ORIGIN=http://localhost:3000,https://closethegate.eu,https://www.closethegate.eu

# База данных PostgreSQL
DATABASE_URL=postgresql://postgres:password@localhost:5432/closethegate

# Окружение
NODE_ENV=development
